h1 {
    text-align-last: center;
    color: white;
    font-size: 150px;
    font-family: arial;
    text-shadow: 1px 0 0 black, 0 1px 0 black, 0 -1px 0 black, -1px 0 0 black;
}
p.Bienvenue {
    color: orangered;
    text-align: center;
    font-size: 25px;
    font-family: arial black;
    font-style: italic;
    text-shadow: 1px 0 0 black, 0 1px 0 black, 0 -1px 0 black, -1px 0 0 black;
}
a.Channel {
    font-size: 25px;
    text-decoration: none;
    display:block;
    text-align:center;
    text-shadow: 1px 0 0 black, 0 1px 0 black, 0 -1px 0 black, -1px 0 0 black;
    color: orangered;
    font-family: Arial Black;
}
img {
    display:block;
    margin-left:auto;
    margin-right:auto;
}
li {
    list-style-type: none;
}
li {
    display: inline-block;
}
a.menu {
    color: white;
    text-decoration: none;
    font-family: Arial Black;
    font-size: 25px;
    padding: 10px;
    background-color: white;
    color: black;
}
li:hover a.menu {
    background-color: orangered;
    color: white;
    transition: 0.3s all;
}
a.menu1 {
    color: white;
    text-decoration: none;
    font-family: Arial Black;
    font-size: 25px;
    padding: 10px;
    background-color: #4a4a4a;
    color: white;
}
li:hover a.menu1 {
    background-color: orangered;
    color: white;
    transition: 0.3s all;
}
footer {
    color: white;
    text-align: center;
    font-family: Arial;
    text-shadow: 1px 0 0 black, 0 1px 0 black, 0 -1px 0 black, -1px 0 0 black;
}
a.Twitter {
    font-size: 25px;
    text-decoration: none;
    display:block;
    text-align:center;
    text-shadow: 1px 0 0 black, 0 1px 0 black, 0 -1px 0 black, -1px 0 0 black;
    color: orangered;
    font-family: Arial Black;
}
a.Facebook {
    font-size: 25px;
    text-decoration: none;
    display:block;
    text-align:center;
    text-shadow: 1px 0 0 black, 0 1px 0 black, 0 -1px 0 black, -1px 0 0 black;
    color: orangered;
    font-family: Arial Black;
}
a.Instagram {
    font-size: 25px;
    text-decoration: none;
    display:block;
    text-align:center;
    text-shadow: 1px 0 0 black, 0 1px 0 black, 0 -1px 0 black, -1px 0 0 black;
    color: orangered;
    font-family: Arial Black;
}
a.Discord {
    font-size: 25px;
    text-decoration: none;
    display:block;
    text-align:center;
    text-shadow: 1px 0 0 black, 0 1px 0 black, 0 -1px 0 black, -1px 0 0 black;
    color: orangered;
    font-family: Arial Black;
}